.topDeals-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 250px;
  margin-top: 1.2rem;
  overflow-y: auto;
  white-space: nowrap;
}

.top-deal-card div.fav-icon {
  grid-area: favourite;
  display: flex;
  justify-self: flex-end;
  align-self: flex-start;
  width: 1.7rem;
  cursor: pointer;
}

.top-deal-card div.description {
  grid-area: description;
  font-weight: 500;
  color: var(--theme-body-p-color);
  margin: 0;
  line-height: 1.4rem;
  font-style: normal;
  font-size: 1.2rem;
}

.top-deal-card .price {
  grid-area: price;
  display: flex;
  align-items: center;
  font-weight: 700;
  flex-wrap: wrap;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  justify-self: start;
}

.top-deal-card .price .containerr {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 3rem;
  justify-content: space-between;
}

.top-deal-card .price .priceTitle {
  display: flex;
  flex-direction: row;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  align-items: center;
}

.top-deal-card .price .priceTitle .oldPrice {
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
}

.top-deal-card .price .priceTitle .offerPrice {
  font-size: 1.3rem;
  color: var(--theme-procuct-price-color);
}

.top-deal-card .price .customize {
  width: auto;
  grid-area: customize;
  text-decoration: none;
  color: var(--theme-product-blue-color);
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  grid-gap: 0.4rem;
  gap: 0.4rem;
  cursor: pointer;
}

.top-deal-card .price .customize .img {
  display: flex;
  background-color: currentColor;
  border: 0.1rem solid;
  border-radius: 0.6rem;
}

.top-deal-card .price .customize .img img {
  font-size: 1.8rem;
  color: #fff;
  padding: 1px;
}

.addToCart {
  grid-area: addtocart;
  width: 11.5rem;
  height: 3.5rem;
  justify-self: flex-end;
}

.addToCart button {
  color: #e4002b;
  border: 1px solid rgba(228, 0, 43, 0.5);
  box-shadow: 0px 11.5338px 11.5338px rgba(228, 0, 43, 0.1);
  border-color: #e4002b;
  border-width: 0.2rem;
  background-color: #ffffff;
  padding: 5px 15px;
}

@media (min-width: 1024px) {
  .topDeals-container {
    padding: 2rem 0;
    gap: 4rem;
    padding-bottom: 4rem;
  }

  .top-deal-card {
    background-color: white;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto auto min-content min-content;
    grid-template-areas:
      'title'
      'description '
      'customize'
      'price'
      'addtocart';
    justify-items: center;
    align-items: center;
    box-shadow: 0 4px 2px rgba(217, 221, 230, 0.8);
    position: relative;
    text-align: start;
    min-width: 25rem;
    max-width: 25rem;
    -webkit-margin-before: 13.5rem;
    margin-block-start: 13.5rem;
    border-radius: 2rem 2rem 0.6rem 0.6rem;
    grid-gap: 0;
    gap: 0;
    padding: 9rem 1rem 2rem;
  }

  .top-deal-card .thumbnail {
    position: absolute;
    width: 21rem;
    position: absolute;
    margin: 0;
    padding: 0;
    inset: 0 auto auto auto;
    transform: translateY(-12.5rem);
    grid-area: thumbnail;
  }

  .top-deal-card div.fav-icon {
    position: absolute;
    position: absolute;
    inset: 9rem 2rem auto auto;
    aspect-ratio: 1/1;
    inset-inline-end: 1rem;
    inset-inline-start: auto;
  }

  .top-deal-card .title-style {
    width: 100%;
    border-bottom: 1px solid rgba(57, 63, 82, 0.2);
  }

  .top-deal-card .title-style h3.title {
    font-size: 1.5rem;
    text-align: start;
    padding-bottom: 1rem;
  }

  .top-deal-card div.description {
    min-height: 40px;
    line-height: 1.4rem;
    align-self: flex-start;
    text-align: center;
    text-align: start;
    width: 100%;
    margin: 1rem 0;
    white-space: normal;
  }

  .top-deal-card .price {
    justify-self: center;
    background: var(--theme-product-tile-box-bg);
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.6rem;
    margin-bottom: 1.5rem;
    white-space: nowrap;
  }

  .top-deal-card .price .priceTitle {
    flex-direction: column;
    align-items: start;
  }

  .top-deal-card .price .priceTitle .oldPrice {
    color: var(--theme-procuct-price-color);
    opacity: 0.7;
    text-decoration: line-through;
  }

  .top-deal-card .price .priceTitle .offerPrice {
    font-size: 1.2rem;
    display: flex;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    align-items: flex-end;
    white-space: nowrap;
  }

  .top-deal-card .price .customize {
    background: #fff;
    border-radius: 1rem;
    padding: 0.7rem 0.5rem;
    font-size: 1.1rem;
  }

  .addToCart {
    width: 14rem;
    height: 3.6rem;
    justify-self: center !important;
    -webkit-transform: translateY(50%);
    transform: translateY(30%);
    transform: translateX(30%);
    position: absolute;
  }

  .addToCart button {
    
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Rubik, Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
  }
}
