@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --clr-dark-200: #848b8e;
  --clr-dark-300: #6a6e7b;
  --clr-dark-400: #393f52;
  --clr-dark-500: #131c26;
  --clr-dark-900: #000;
  --clr-dark-200-20: rgba(155, 204, 244, 0.243);
  --clr-dark-300-10: rgba(138, 181, 217, 0.1);
  --clr-dark-300-70: rgba(106, 110, 123, 0.72);
  --clr-dark-300-60: rgba(106, 110, 123, 0.6);
  --clr-dark-400-10: rgba(57, 63, 82, 0.1);
  --clr-dark-400-20: rgba(57, 63, 82, 0.2);
  --clr-dark-400-40: rgba(57, 63, 82, 0.4);
  --clr-dark-400-50: rgba(57, 63, 82, 0.5);
  --clr-dark-400-80: rgba(57, 63, 82, 0.8);
  --clr-dark-400-70: rgba(57, 63, 82, 0.7);
  --clr-dark-900-10: rgba(0, 0, 0, 0.1);
  --clr-dark-900-30: rgba(0, 0, 0, 0.3);
  --clr-dark-900-20: 0 3rem 4rem rgba(0, 0, 0, 0.2);
  --clr-light-150: #f7fafd;
  --clr-light-100: #fff;
  --clr-light-200: #f3f9fe;
  --clr-light-300: #f1f3f6;
  --clr-light-350: rgba(223, 239, 255, 0.3);
  --clr-light-375: #f2f9ff;
  --clr-light-400: #ebf5fe;
  --clr-light-500: #dfe3e8;
  --clr-light-600: #cacfe0;
  --clr-light-250: #f2f2f2;
  --clr-primary-100: #f7b2c0;
  --clr-primary-200: #ff4065;
  --clr-primary-300: #e50f39;
  --clr-primary-400: #e4002b;
  --clr-primary-500: #6c7b8b;
  --clr-primary-600: #213f5d;
  --clr-primary-700: #9f001e;
  --clr-primary-400-03: rgba(228, 0, 43, 0.03);
  --clr-secondary-400: #007aff;
  --clr-secondary-400-70: rgba(0, 122, 255, 0.7);
  ---clr-secondary-500: rgba(169, 189, 208, 0.30196078431372547);
  --clr-dark-blue-300: #374573;
  --clr-orange-500: #fb8d45;
  --clr-orange-500-10: rgba(251, 141, 69, 0.1);
  --secondary-red: #d2183b;
  --check-red: #ec193c;
  --clr-grass-green-500: #bddb46;
  --clr-grass-green-700: #00a402;
  --clr-brown-500: #db6a00;
  --ff-primary: 'Rubik', sans-serif;
  --clr-background: #e5e5e5;
  --clr-background-red: rgba(228, 0, 28, 0.03137254901960784);
  --theme-backgroud-page: var(--clr-light-300);
  --theme-button-color: var(--clr-primary-400);
  --theme-product-h-color: var(--clr-dark-400);
  --theme-procuct-price-color: var(--clr-dark-400);
  --theme-product-blue-color: var(--clr-secondary-400);
  --theme-font-family: var(--ff-primary);
  --theme-body-p-color: var(--clr-dark-300);
  --theme-category-tab-color: var(--clr-light-600);
  --theme-category-tab-active-color: var(--clr-dark-400);
  --theme-drawer-menu-heading-color: var(--clr-dark-400);
  --theme-drawer-menu-heading-bg: var(--clr-light-400);
  --theme-cartbar-button-bg: linear-gradient(
    95.85deg,
    var(--clr-primary-300) 27.81%,
    var(--clr-primary-200) 49.59%,
    var(--clr-primary-300) 59.77%
  );
  --theme-order-text-bg: rgba(0, 122, 255, 0.07);
  --theme-order-success-color: #00a402;
  --theme-background-color: var(--clr-background);
  --theme-profile-color: var(--clr-dark-400);
  --theme-button-shadow-color: 0px 6px 10px rgba(222, 0, 0, 0.2);
  --theme-country-pop-bg: #f8f8f6;
  --theme-user-icon-bg: #f9001a;
  --theme-warning-color: #fb8d45;
  --theme-lang-button-color: rgba(228, 0, 43, 0.03);
  --theme-button-disable-bg: #a9bdd0;
  --theme-search-fg: #a9bdd0;
  --theme-warning-text-color: #fb8d45;
  --theme-paper-box-shadow: 0px 2.17631px 7.61708px
    rgba(155, 204, 244, 0.241231);
  --theme-time-area-bg: rgba(169, 189, 208, 0.15);
  --theme-order-summary-bg: #dfefff;
  --theme-product-tile-box-bg: #f0f4fa;
  --scrollbar-track-color: rgba(0, 0, 0, 0.1);
  --scrollbar-color: rgba(0, 0, 0, 0.2);
  --scrollbar-ff-width: thin;
  --scrollbar-size: 0.6rem;
  --scrollbar-minlength: 1.5rem;
  --scrollbar-color-hover: rgba(0, 0, 0, 0.3);
  --scrollbar-color-active: rgba(0, 0, 0, 0.6);
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--theme-font-family);
  background: var(--theme-backgroud-page);
  color: var(--clr-dark-400);
  line-height: 1;
}

.border {
  border: 1px solid var(--secondary-red);
}

.container {
  min-width: 1024px;
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

button {
  all: unset;
}

@media screen and (min-width: 1024px) {
  .container {
    grid-gap: clamp(1rem, 3.91vw + -3rem, 2rem);
    gap: clamp(1rem, 3.91vw + -3rem, 2rem);
  }

  #slider {
    height: clamp(30rem, 47vh, 42rem);
    width: 100%;
    aspect-ratio: 8;
    background-color: red;
  }
}
